// Global SASS Variables
// @import 'style-vars';

// Fonts
$fontFamily: -apple-system, BlinkMacSystemFont, sans-serif;

// Colors
$colorBlack: #141414;
$colorBlack75: rgba(7,9,25,0.75);
$colorWhite: #FFF;
$colorWhite66: rgba(255,255,255,0.66);
$colorWhite33: rgba(255,255,255,0.33);
